* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	font-family: cursive;
	background-image: url("bg.jpg") ;
    background-size: cover;
	font-size:120%;

}

.weatherContainer {
   
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    background: rgb(111,102,106);
background: radial-gradient(circle, rgba(111,102,106,1) 0%, rgba(21,21,21,0.874562324929972) 58%);
    
	color: white;
	padding: 2em;
	border-radius: 30px;
	width: 100%;
	max-width: 420px;
	
    font-family: cursive;
    padding: auto;
}


#weatherForm input {
    margin: 0.5em;
	border-radius: 50%;
	border:none ;
	height: 46px;
	width: 46px;
	outline: none;
	
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
    border: none;
	outline: none;
	padding: 0.5em 1cm;
	border-radius: 24px;
	background: #7c7c7c2b;
	color: white;
	font-family: inherit;
	font-size: 105%;
	width: calc(100% - 100px);
}
#weatherForm input:hover{
    background:  #7c7c7c2b;
    
    
}

#weatherForm ul li {
    list-style: none;
}

.searchBtn {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
	transition: 0.2s ease-in-out;
    
    
	
    
}
.searchBtn:hover{
    background: whitesmoke;
    margin: 0.5em;
	border-radius: 50%;
	border:none ;
	height: 46px;
	width: 46px;
	outline: none;
	background: #7c7c7c2b;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;


}


.searchBtn ul li {
    list-style: none;
    font-size: 1.2rem;
}

#weatherForm {
    display: flex;
    justify-content: space-around;
}

.appHeading {
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

#city {
    text-transform: capitalize;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.weatherContainer img {
    width: 100%;
    
}

#temp {
    word-spacing: -8px;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

#temp sup {
    font-size: 1.5rem;
}

.weatherMain {
    font-family: sans-serif;
}

#todayTime,
.todayDates {
    font-family: sans-serif;
    line-height: 2rem;
}


/* Utility Classes */
.d-flex {
    display: flex;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-space-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.f-col {
    flex-direction: column;
}

/* Media Query for Responsive */
@media screen and (max-width: 307px) {
    #weatherForm {
        flex-direction: column;
    }

    #weatherForm input {
        text-align: center;
        margin-bottom: 1rem;
    }
    

}